In [9]:
import pandas as pd
import numpy as np

df = pd.read_csv('books_db.csv')
authors = pd.read_csv('authors.csv')
language = pd.read_csv('language.csv')
publisher = pd.read_csv('publisher.csv')

publisher

                        name
0            Scholastic Inc.
1                 Scholastic
2               Nimble Books
3             Gramercy Books
4              Del Rey Books
...                      ...
2285          Folio histoire
2286      Alfaguara Infantil
2287                    Suma
2288  Panamericana Editorial
2289      Editorial Presença

[2290 rows x 1 columns]

In [10]:
df = pd.merge(df, authors, left_on = 'author_id', right_index = True)
df = pd.merge(df, language, left_on = 'lang_id', right_index = True)
df = pd.merge(df, publisher, left_on = 'publisher_id', right_index = True)

df.head()

,bookID,title,average_rating,isbn,isbn13,num_pages,ratings_count,text_reviews_count,publication_date,author_id,lang_id,publisher_id,name_x,code,name_y
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,439785960,9.780440e+12,652,2095690,27591,9/16/2006,0,0,0,J.K. Rowling,eng,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,439358078,9.780440e+12,870,2153167,29221,9/1/2004,0,0,0,J.K. Rowling,eng,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,4.42,439554896,9.780440e+12,352,6333,244,11/1/2003,0,0,1,J.K. Rowling,eng,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,4.56,043965548X,9.780440e+12,435,2339585,36325,5/1/2004,0,0,0,J.K. Rowling,eng,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4.78,439682584,9.780440e+12,2690,41428,164,9/13/2004,0,0,1,J.K. Rowling,eng,Scholastic

<p dir=rtl style="direction: rtl;text-align: justify;line-height:200%;font-family:vazir;font-size:medium">
<font face="vazir" size=3>
حال که تمام مقادیر اضافه شده‌اند، نیازی به سه ستون <code>id</code> که به‌عنوان کلید استفاده کردیم نداریم. پس آن‌ها را با استفاده از دستور <code>drop</code> حذف می‌کنیم.
        در درسنامه‌های بعدی نحوه‌ی کار با این دستور را یاد خواهید گرفت.    
</font>
</p>

In [11]:
df.drop(columns = ['author_id', 'lang_id', 'publisher_id'], inplace = True)
df

,bookID,title,average_rating,isbn,isbn13,num_pages,ratings_count,text_reviews_count,publication_date,name_x,code,name_y
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,439785960,9.780440e+12,652,2095690,27591,9/16/2006,J.K. Rowling,eng,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,439358078,9.780440e+12,870,2153167,29221,9/1/2004,J.K. Rowling,eng,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,4.42,439554896,9.780440e+12,352,6333,244,11/1/2003,J.K. Rowling,eng,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,4.56,043965548X,9.780440e+12,435,2339585,36325,5/1/2004,J.K. Rowling,eng,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4.78,439682584,9.780440e+12,2690,41428,164,9/13/2004,J.K. Rowling,eng,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11119,45631,Expelled from Eden: A William T. Vollmann Reader,4.06,1560254416,9.781560e+12,512,156,20,12/21/2004,William T. Vollmann,eng,Da Capo Press
11120,45633,You Bright and Risen Angels,4.08,140110879,9.780140e+12,635,783,56,12/1/1988,William T. Vollmann,eng,Penguin Books
11121,45634,The Ice-Shirt (Seven Dreams #1),3.96,140131965,9.780140e+12,415,820,95,8/1/1993,William T. Vollmann,eng,Penguin Books
11122,45639,Poor People,3.72,60878827,9.780060e+12,434,769,139,2/27/2007,William T. Vollmann,eng,Ecco
11123,45641,Las aventuras de Tom Sawyer,3.91,8497646983,9.788500e+12,272,113,12,5/28/2006,Mark Twain,spa,Edimat Libros

In [12]:
df.columns = ['bookID', 'title', 'average_rating', 'isbn', 'isbn13', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'author', 'lang', 'publisher']
df.head()

,bookID,title,average_rating,isbn,isbn13,num_pages,ratings_count,text_reviews_count,publication_date,author,lang,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,439785960,9.780440e+12,652,2095690,27591,9/16/2006,J.K. Rowling,eng,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,439358078,9.780440e+12,870,2153167,29221,9/1/2004,J.K. Rowling,eng,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,4.42,439554896,9.780440e+12,352,6333,244,11/1/2003,J.K. Rowling,eng,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,4.56,043965548X,9.780440e+12,435,2339585,36325,5/1/2004,J.K. Rowling,eng,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4.78,439682584,9.780440e+12,2690,41428,164,9/13/2004,J.K. Rowling,eng,Scholastic

In [13]:
grouped = df.groupby('publisher')
publisher_rating = grouped['average_rating'].agg('mean')
publisher_rating

publisher
18-Oct                           3.650000
1st Book Library                 3.580000
1st World Library                4.180000
A & C Black (Childrens books)    4.400000
A Harvest Book/Harcourt  Inc.    4.070000
                                   ...
聯經出版事業股份有限公司                     4.400000
英文漢聲出版股份有限公司                     4.220000
角川書店 (Kadokawa Shoten)           3.815000
講談社                              4.283333
集英社                              4.237500
Name: average_rating, Length: 2290, dtype: float64

In [14]:
conditions = [ (df['num_pages'] < 250), ((df['num_pages'] >= 250) & (df['num_pages'] <= 499)), ((df['num_pages'] >= 500) & (df['num_pages'] <= 749)), ((df['num_pages'] >= 750) & (df['num_pages'] <= 999)), (df['num_pages'] >= 1000) ]
choices = ['<250', '250-499', '500-749', '750-999', '>=1000']
df['num_pages_grp'] = np.select(conditions, choices)
df

,bookID,title,average_rating,isbn,isbn13,num_pages,ratings_count,text_reviews_count,publication_date,author,lang,publisher,num_pages_grp
0,1,Harry Potter and the Half-Blood Prince (Harry ...,4.57,439785960,9.780440e+12,652,2095690,27591,9/16/2006,J.K. Rowling,eng,Scholastic Inc.,500-749
1,2,Harry Potter and the Order of the Phoenix (Har...,4.49,439358078,9.780440e+12,870,2153167,29221,9/1/2004,J.K. Rowling,eng,Scholastic Inc.,750-999
2,4,Harry Potter and the Chamber of Secrets (Harry...,4.42,439554896,9.780440e+12,352,6333,244,11/1/2003,J.K. Rowling,eng,Scholastic,250-499
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,4.56,043965548X,9.780440e+12,435,2339585,36325,5/1/2004,J.K. Rowling,eng,Scholastic Inc.,250-499
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,4.78,439682584,9.780440e+12,2690,41428,164,9/13/2004,J.K. Rowling,eng,Scholastic,>=1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11119,45631,Expelled from Eden: A William T. Vollmann Reader,4.06,1560254416,9.781560e+12,512,156,20,12/21/2004,William T. Vollmann,eng,Da Capo Press,500-749
11120,45633,You Bright and Risen Angels,4.08,140110879,9.780140e+12,635,783,56,12/1/1988,William T. Vollmann,eng,Penguin Books,500-749
11121,45634,The Ice-Shirt (Seven Dreams #1),3.96,140131965,9.780140e+12,415,820,95,8/1/1993,William T. Vollmann,eng,Penguin Books,250-499
11122,45639,Poor People,3.72,60878827,9.780060e+12,434,769,139,2/27/2007,William T. Vollmann,eng,Ecco,250-499
11123,45641,Las aventuras de Tom Sawyer,3.91,8497646983,9.788500e+12,272,113,12,5/28/2006,Mark Twain,spa,Edimat Libros,250-499

A.B. Yehoshua          250-499          1
                       500-749          1
A.D.P. Briggs          250-499          1
A.E. Cunningham        <250             1
A.J. Jacobs            250-499          1

In [15]:
author_page = df.groupby(['author','num_pages_grp'])['num_pages_grp'].size()
author_page

author                 num_pages_grp
A.B. Yehoshua          250-499          1
                       500-749          1
A.D.P. Briggs          250-499          1
A.E. Cunningham        <250             1
A.J. Jacobs            250-499          1
                                       ..
bell hooks             <250             5
Åsne Seierstad         250-499          3
Émile Zola             250-499          6
                       500-749          3
Éric-Emmanuel Schmitt  <250             1
Name: num_pages_grp, Length: 5547, dtype: int64